<div class="card" style="background: cornflowerblue;">
    <h1>Hello world from dock layout!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque enim erat, feugiat non urna vitae, condimentum lacinia ligula. Suspendisse erat mauris, viverra ac sagittis ac, consectetur nec arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed a quam quam. Nullam malesuada varius urna et pulvinar. Etiam malesuada, ipsum a hendrerit congue, enim ipsum tempus turpis, nec pharetra purus dui nec nunc. Nulla vitae bibendum felis. Fusce dictum eleifend pharetra. Integer laoreet imperdiet urna sit amet maximus. Fusce turpis tellus, ullamcorper eu neque non, cursus dictum eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget pretium lorem. Pellentesque malesuada bibendum justo eget congue.</p>
</div>

@code {

}
