<div class="card">
    <h1>Example component 1</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis est posuere, luctus erat consequat, efficitur enim. Donec tristique dui tristique dui convallis varius. Suspendisse vehicula lacus et tincidunt luctus. Phasellus sed mi nisi. Vivamus in ornare mi. Mauris ut finibus massa, eget ultricies nulla. Duis pharetra diam vel dapibus lacinia. Nullam justo dolor, porttitor ac rhoncus sit amet, gravida quis augue. Integer quis venenatis ipsum. Morbi egestas consequat massa, ut venenatis enim. Proin tincidunt laoreet nisi vitae facilisis. Aliquam erat volutpat. Maecenas id placerat massa.

        Nulla facilisi. Morbi tempor ligula eget accumsan sollicitudin. Donec rutrum fringilla molestie. Nulla vitae suscipit elit. Aenean ut augue lacus. Pellentesque interdum ullamcorper tortor id egestas. Aliquam rhoncus aliquet est, sit amet eleifend eros tincidunt non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla nisl metus, fermentum ac lacus et, elementum pretium orci. Duis non nulla sed lectus finibus bibendum et varius quam. Proin vulputate sodales ante, ut pellentesque ex consectetur et. Mauris sit amet justo lectus. In vestibulum odio eget euismod condimentum. Nulla in augue ut nunc sodales gravida quis a augue. In nec eleifend elit. Morbi scelerisque luctus faucibus.
    </p>
    <img src="~/icon-192.png"/>
</div>

@code {
    [Parameter]
    public string MOTD { get; set; } = "this is motd";
}
